@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
:root {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  margin: 0;
}

h1 {
  font: "Play", serif;
  font-size: 5em;
  margin: 0;
}

#welcome-sub {
  font: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  font-style: italic;
  margin: 0 auto;
  padding-bottom: 2em;
}

header {
  width: 100%;
  background-color: aqua;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
}

header .navbar #nav-ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  height: 100px;
}

header .navbar .nav-li {
  display: inline-block;
}

header .navbar .navbar-a {
  text-decoration: none;
  color: black;
  padding: 40px 15px;
}

header .navbar .navbar-a:hover {
  color: blue;
  background-color: rgba(10, 10, 10, 0.1);
}

#welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aquamarine;
  width: 100%;
  height: calc(100vh - 100px);
}

#projects {
  text-align: center;
  display: inline-block;
  background-color: dodgerblue;
  width: 100%;
  height: 100%;
}

#projects-header {
  font: "Roboto", sans-serif;
  font-size: 2.8em;
  font-weight: 500;
}

.project-tile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  row-gap: 2.5em;
}

.project-tile .projects-figs {
  margin: 0 auto;
  padding: 2em;
}

.project-tile .projects-figs .imgs {
  height: calc(100vh / 3);
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-tile .projects-figs figcaption {
  background-color: azure;
  width: 80%;
  display: inline-block;
  padding: 0.5em 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.project-tile .projects-figs:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

a {
  text-decoration: none;
}

#contact {
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact #contact-header {
  font: "Play", serif;
  font-size: 2.8em;
}

#contact #contact-logos {
  width: 100%;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contact #contact-logos .logo-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#contact #contact-logos .logo-containers .logos-figs {
  height: 40px;
  width: 40px;
  display: inline-block;
}

#contact #contact-logos .logo-containers .p-logos {
  margin: 0;
  font: "Roboto", sans-serif;
  font-size: 1.5em;
}

#contact #contact-logos .logo-containers:hover {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}
/*# sourceMappingURL=styles.css.map */